:root{
  --background: #ffffff;
  --line: #212121;
  --theme: #141414;
  --cards: #ffffff;
  --cards2: #ecece5;
  --stroke: #9e9e9e;
  --text: #000000;
  --footer: #d9e0db7e;
}


body {
  background-color: var(--background);
  padding: 0;
  margin: 0;
  color: var(--text);
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.topbox {
  width: 100%;
  margin: 0px;
  display: grid;
  position: relative;
  align-items: center;
}

.bckimage {
  background-color: #0f0000;
  height: 500px;
  width: 100%;
  max-width: 100%;
  grid-area: 1/1;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  z-index: 0;

}
.shadowbox {
  max-width: 100%;
  height: 500px;
  grid-area: 1/1;
  background-color: #212121;
  opacity: 70%;
  z-index: 1;
}

.box1 {
  height: 500px;
  max-width: 100%;
  grid-area: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  z-index: 2;
}

.mainlogo {
  height: 230px;
  width: 230px;
  border: 2px solid #da8517;
  background-color: var(--stroke);
  border-radius: 100%;
  object-fit: cover;
}

.name {
  text-align: center;
  padding: 0;
  margin-bottom: 0;
}

.linebox {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: o;
}

.description {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

.line1,
.line2 {
  height: 1px;
  width: 100%;
  background-color: var(--line);
  flex-grow: 1;
}

.aboutbox {
  margin-top: 150px;
}

.description2 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.groupgrid {
  display: grid;
  grid-template-rows: 2fr 2fr;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-columns: 2fr 2fr;
  gap: 9px;
  padding: 20px;
  margin-bottom: 30px;


}

.groupcard {
  border-radius: 9px;
  border: 1px solid var(--stroke);
  background-color: var(--cards);
  flex-grow: 1;
  padding: 8px;
}

.groupicon {
  height: 40px;
  width: 40px;
  padding: 10px;
  margin: 8px;
  margin-top: 40px;
  margin-bottom: 10px;
  border-radius: 7px;
  text-align: center;
  background-color: #031818;
  box-shadow: 1px solid var(--border);
  object-fit: cover;
}

.groupheading {
  padding: 4px;
  padding-bottom: 0;
  margin: 0;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.groupdescription {
  padding: 4px;
  padding-top: 0;
  margin: 0;
  font-weight: 300;
  font-size: 9px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.projectlist {
  padding: 15px;
  gap: 10px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  align-items: center;
}

.projectcard {
  background-color: var(--cards2);
  border: 1px solid var(--border);
  width: 300px;
  border-radius: 10px;
}


.projectimage {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 270px;
  width: 300px;
  object-fit: cover;
}

.projectheading {
  padding: 12px;
  padding-bottom: 0;
  margin: 0;
  font-weight: 600;
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.projectdescription {
  padding: 12px;
  padding-top: 0;
  margin: 0;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.box2 {
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: right;
}

.projectview-button {
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 16px;
  border-radius: 30px;
  background-color: #141414;
  color: #efefef;
  border: 2px solid #424242;
}
.footer {
  background-color: var(--footer);
  width: 100%;
  padding: 8px;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 100px;
  text-align: center;
}
.text1 {
  font-weight: 600;
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box3 {
  display: flex;
  text-align: center;
  padding: 0;
}
.text2 {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex-grow: 1;
  text-align: center;
}
.footericonbox{
  padding: 15px;
  display: flex;
  justify-content: center;
}
.footericon{
  margin: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: #231234;
}